@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

@layer base {
  body {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: #ffffff;
    color: #3d3d3d;
    -webkit-font-smoothing: antialiased;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: "Playfair Display", serif;
  }
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
  }
}
